:root {
  @apply bg-container-normal text-text-normal;
}

* {
  border-color: var(--c-border);
}

html, body, #__next {
  @apply w-full h-full;
}

body {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  @apply relative overflow-hidden;
}

/* select 不支援原生 readonly，這裡用隱藏 options 的方式處理，以便所有輸入欄位的樣式能統一 */
select[aria-readonly] option {
  @apply hidden
}

/* 若使用者設定沒擋 motion，才進行主題色的動態變換 */
@media (prefers-reduced-motion: no-preference) {
  :root {
    animation: rainbow 40s linear infinite;
  }
}